.footer {
  background: #111;
  color: white;
  padding: 80px 80px;
}


.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col p {
  margin: 8px 0;
  cursor: pointer;
}

.footer-col p:hover {
  color: orange;
}

.footer-logo {
  width: 190px;
}


.social-icons{
  display:flex;
  gap:20px;
  font-size:24px;
  cursor:pointer;
}

.social-icons svg:hover{
  color:orange;
}